Django==5.2.1
djangorestframework==3.14.0
django-cors-headers==4.3.0
Pillow==10.1.0
numpy==1.26.0
opencv-python==4.8.1.78
mediapipe==0.10.15
vosk==0.3.44
pyaudio==0.2.14
drf-yasg==1.21.7
python-dotenv==1.0.0
djangorestframework-simplejwt==5.3.0
social-auth-app-django==5.4.3
channels==4.2.2
setuptools==80.9.0
swagger_ui_bundle==1.1.0